<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Suite1">
    <test name="exampletest1">
        <classes>
            <class name="testNG.annotation_parameters_tests.BasicTest"/>
        </classes>
    </test>

    <test name="exampletest2">
        <classes>
            <class name="testNG.annotation_parameters_tests.SoftAssertTest"/>
        </classes>
    </test>

    <test name="Integration tests">
        <groups>
            <run>
                <include name="Test2"/>
                <exclude name="Test3"/>
            </run>
        </groups>

        <classes>
            <class name="testNG.annotation_parameters_tests.GroupTests">
                <methods>
                </methods>
            </class>
        </classes>
    </test>

</suite>